/* Variables */

:root {
  --dangerous-color: #e66c6c;
  --font-family: helvetica, arial, sans-serif;
  --input-border-radius: 5px;
  --blue-color: #a5d5f8;
  --input-placeholder-color: #617d98;
  --light-blue-color: #f1f5f8;
  --text-color: #063251;
}

/* General styles */

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 10px;
}

body {
  background-color: var(--light-blue-color);
  margin: 0;
}

h1 {
  margin: 0;
}

input,
textarea,
button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

input,
textarea {
  outline: none;
  padding: 0.5rem 1.2rem;
  width: 100%;
}

textarea {
  max-height: 100px;
  min-height: 25px;
  resize: vertical;
}

/* Todo list */

.container {
  margin: 0 auto;
  max-width: 400px;
  padding-top: 10rem;
}

.todo-list {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
  color: var(--text-color);
  font-size: 1.3rem;
  letter-spacing: 0.18em;
  padding: 4rem 3rem 3rem;
}

.header {
  background-color: transparent;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: inherit;
  padding-bottom: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.header::placeholder {
  text-transform: initial;
}

.add-todo {
  display: flex;
  margin-bottom: 2.5rem;
}

.add-todo-input {
  background-color: var(--light-blue-color);
  border-bottom-left-radius: var(--input-border-radius);
  border-top-left-radius: var(--input-border-radius);
}

.input-add-todo::placeholder {
  color: var(--input-placeholder-color);
}

.add-todo-button {
  background-color: var(--blue-color);
  border-bottom-right-radius: var(--input-border-radius);
  border-top-right-radius: var(--input-border-radius);
  letter-spacing: inherit;
  width: 20%;
}

.add-todo-button:hover {
  filter: brightness(0.9);
}

.add-todo-button:active {
  filter: brightness(0.8);
}

.icons {
  display: flex;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.icon:not(:last-child) {
  margin-right: 0.5rem;
}

.todo {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.todo:not(:last-child) {
  padding-bottom: 1.5rem;
}

.textarea-todo {
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.2);
}

.clear-items-container {
  margin-top: 2rem;
  text-align: center;
}

.clear-items-button {
  background-color: transparent;
  color: var(--dangerous-color);
}

.clear-items-button:hover {
  filter: brightness(0.8);
}

.clear-items-button:active {
  filter: brightness(0.6);
}
